@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  letter-spacing: 1px;
}

.page-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.page-content{
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}